/* ==========
BASE STYLES
========== */
body {
    font-family: "Lucida Grande","Lucida Sans",Geneva,Verdana,sans-serif;
    margin: 0px;
    padding: 0px;
}

/* ==========
METABAR
========== */
#metabar {
    /*Adds the transparent background */
/*    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);*/
    background-color: #FFFFFF;
    /*border-bottom: 1px solid #F5F5F5;*/
    height: 53px;
    padding-right: 7px;
    position: fixed;
    right: 0px;
    top: 0;
    text-align: right;
    width: 100%;

     /*Adds shadow to the bottom of the bar */
    /*-webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 4px 0px #DEDEDE;*/
}

.metabar-item {
    background: none;
    border: none;
    color: #DEDEDE;
    cursor: pointer;
    display: inline-block;
    height: 25px; 
    margin: 14px 7px 14px 0px;
    padding: 0px;
    outline: 0px solid transparent;
    vertical-align: top;
    width: 25px;
}

.metabar-btn:hover {
    color: #B8B8B8;
}

/* ==========
STATS DROP DOWN
========== */
.stats-drop-down {
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    -ms-border-radius: 6px; 
    -o-border-radius: 6px; 
    border-radius: 6px;  
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); 
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); 
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2); 
    display: none;
    height: 42px;
    padding: 7px;
    position: absolute; 
    right: 53px; 
    width: auto; 
}

#word-count, #char-count {
    color: #B3B3B3;
    font-size: 12px;
    margin: 4px 0px;
    text-align: left;
}
.tail {
    color: #FFFFFF;
    text-shadow: 0px -4px 12px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 40px;
    top: -20px;
}

/* ==========
NOTE CONTENT
========== */
#note-container {
    margin: 0 auto;
    max-width: 700px;
    padding: 70px 8px 30px 8px;
}

#note-title {
    font-family: "Lucida Grande","Lucida Sans",Geneva,Verdana,sans-serif;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.02em;
}

#note-body {
    color: #444444;
    font-family: Georgia,Cambria,"Times New Roman",serif;
    font-size: 20px;
    letter-spacing: .02em;
    line-height: 33px;
    margin-top: 16px;
}

[contenteditable=true] {
    outline: 0px solid transparent;
}

[contenteditable=true]:empty:before {
    content:attr(data-default-value);
    color: #DEDEDE;
}
